<link href="{{ 'custom-meta-ref-tab.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

{% assign test = '{"key1":"value1","key2":"value2","key3":"value3"}' | json %}

<table class="custom-meta">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {% for item in test %}
    <tr>
      <td>{{ item.key }}</td>
      <td>{{ item.value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
