<link href="{{ 'custom-meta-ref-tab.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

{% if product.metafields.custom.product_weight_dimensions -%}
  <table class="custom-meta">
    <tbody>
      {% for item in product.metafields.custom.product_weight_dimensions.value.content %}
        {% for url in item.img_url %}
           <img src="{{url}}" style="width:100%;"></img>
        {% endfor %}

        {% for attr in item.attrs %}
          <tr>
            <td>
              <span class="text">{{ attr.key }}</span>
            </td>
            <td>
              <span class="text">{{ attr.value }}</span>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endif %}
