<link href="{{ 'custom-meta-ref-tab.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">

{% if product.metafields.custom.product_weight_dimensions -%}
  <table class="custom-meta">
    <tbody>
      {% for attr in product.metafields.custom.product_weight_dimensions.value.content.attrs %}
        <tr>
          <td> <span class="text">{{ attr.key }}</span></td>
          <td> <span class="text">{{ attr.value }}</span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
