{%- liquid 

-%}
<div style="display: flex; align-items: center; margin-bottom: 8px;">
    <i class="fa fa-globe" aria-hidden="true" style="font-size: 20px;"></i><span>&nbsp;&nbsp;&nbsp;</span>Delivered to xxxxxx
</div>