<div>
  <div class="productView-DeliveryTime" id="delivery_time_layout_id">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z"/>
    </svg>
    <span class="text" id="delivery_time_prefix_id"></span>
    <span class="address_text" id="address_text_id"></span>
    <svg
      class="icon small"
      id="sure_icon_id"
      xmlns="http://www.w3.org/2000/svg"
      id="Outline"
      viewBox="0 0 24 24"
      width="512"
      height="512"
    >
      <path d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/><path d="M12.717,5.063A4,4,0,0,0,8,9a1,1,0,0,0,2,0,2,2,0,0,1,2.371-1.967,2.024,2.024,0,0,1,1.6,1.595,2,2,0,0,1-1,2.125A3.954,3.954,0,0,0,11,14.257V15a1,1,0,0,0,2,0v-.743a1.982,1.982,0,0,1,.93-1.752,4,4,0,0,0-1.213-7.442Z"/><rect x="11" y="17" width="2" height="2" rx="1"/>
    </svg>
    <span class="text" id="delivery_time_id"></span>

    <span class="text" >&nbsp shipping policy&nbsp</span>
   <svg     class="icon small" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24">
    <path d="m12,0C5.383,0,0,5.383,0,12s5.383,12,12,12,12-5.383,12-12S18.617,0,12,0Zm0,22c-5.514,0-10-4.486-10-10S6.486,2,12,2s10,4.486,10,10-4.486,10-10,10Zm-4-10c0,.828-.672,1.5-1.5,1.5s-1.5-.672-1.5-1.5.672-1.5,1.5-1.5,1.5.672,1.5,1.5Zm11,0c0,.828-.672,1.5-1.5,1.5s-1.5-.672-1.5-1.5.672-1.5,1.5-1.5,1.5.672,1.5,1.5Zm-5.5,0c0,.828-.672,1.5-1.5,1.5s-1.5-.672-1.5-1.5.672-1.5,1.5-1.5,1.5.672,1.5,1.5Z"/>
  </svg>
  </div>
  <div class="productView-DeliveryTimeUpdate" id="delivery-time-update-container">
    <select id="country-select" class="select__select">
      {%- assign options = shop.metaobjects.delivery_time['delivery-time-pjebzpu6'].config.value.option_country -%}
      {%- for value in options -%}
        <option value="{{ value | escape }}">
          {{ value | escape }}
        </option>
      {%- endfor -%}
    </select>

    <input
      id="zipcode-input"
      type="text"
      autocomplete="off"
      placeholder="Zip Code"
      class="field__input"
      v-model="zipCode"
    >
    <button
      id="update-button"
      disabled="disabled"
      type="button"
      class="button button-1"
      @click="updateZipCode"
    >
      <span>update</span>
    </button>
  </div>
  <div class="productView-DeliveryTimeExpedited" id= "delivery-time-expedited-container">
    <span class="text">If you need expedited shipping service, please&nbsp</span><span class="link">contact us.</span>
  </div>
</div>
