<div>
  <div class="productView-DeliveryTime" id="delivery_time_layout_id">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
      <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M112 0C85.5 0 64 21.5 64 48V96H16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 272c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 48c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 240c8.8 0 16 7.2 16 16s-7.2 16-16 16H64 16c-8.8 0-16 7.2-16 16s7.2 16 16 16H64 208c8.8 0 16 7.2 16 16s-7.2 16-16 16H64V416c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H112zM544 237.3V256H416V160h50.7L544 237.3zM160 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm272 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z"/>
    </svg>
    <span class="text" id="delivery_time_prefix_id"></span>
    &nbsp
    <span class="address_text" id="address_text_id"></span>
    <svg  class="icon--small" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512"><path d="m13,17c0,.552-.448,1-1,1s-1-.448-1-1,.448-1,1-1,1,.448,1,1Zm.059-12.863c-1.239-.32-2.517-.066-3.506.699-.986.764-1.553,1.917-1.553,3.164,0,.276.224.5.5.5s.5-.224.5-.5c0-.936.425-1.801,1.165-2.374.742-.573,1.704-.765,2.644-.521,1.007.26,1.826,1.08,2.087,2.088.376,1.458-.297,2.91-1.637,3.53-.853.395-1.759,1.502-1.759,2.776,0,.276.224.5.5.5s.5-.224.5-.5c0-.817.612-1.606,1.179-1.868,1.785-.827,2.684-2.755,2.186-4.688-.351-1.354-1.451-2.456-2.806-2.807Zm10.941-.637v13c0,1.93-1.57,3.5-3.5,3.5h-3.532l-3.985,3.295c-.275.245-.626.368-.978.368-.356,0-.716-.126-1.001-.38l-3.898-3.283h-3.605c-1.93,0-3.5-1.57-3.5-3.5V3.5C0,1.57,1.57,0,3.5,0h17c1.93,0,3.5,1.57,3.5,3.5Zm-1,0c0-1.379-1.121-2.5-2.5-2.5H3.5c-1.379,0-2.5,1.121-2.5,2.5v13c0,1.379,1.121,2.5,2.5,2.5h3.788c.118,0,.232.042.322.117l4.048,3.409c.199.179.485.177.674.009l4.138-3.421c.09-.073.202-.114.318-.114h3.712c1.379,0,2.5-1.121,2.5-2.5V3.5Z"/></svg>
<span class="text" id="delivery_time_id"></span>
     </div>
  <div class="productView-DeliveryTimeUpdate" id="delivery-time-Update-container">
    <select id="country-select" class="select__select">
      {%- assign options = shop.metaobjects.delivery_time['delivery-time-pjebzpu6'].config.value.option_country -%}   
      {%- for value in options -%}
        <option value="{{ value | escape }}">
          {{ value | escape }}
        </option>
      {%- endfor -%}
    </select>

    <input
      id="zipcode-input"
      type="text"
      autocomplete="off"
      placeholder="Zip Code"
      class="field__input"
      v-model="zipCode"
    >
    <button
      id="update-button"
      disabled="disabled"
      type="button"
      class="button button-1"
      @click="updateZipCode"
    >
      <span>update</span>
    </button>
  </div>
</div>
