<div class="product-note-care">
  <span class="text">Note</span>

{% if shop.metaobjects.note_care['note-care-gdfo4yyo'].default.value -%}
  {{ shop.metaobjects.note_care['note-care-gdfo4yyo'].default.value }}
{% endif %}
<span class="text">Care</span>
  
{% if shop.metaobjects.note_care['note-care-gdfo4yyo'].bathtub.value -%}
  {{ shop.metaobjects.note_care['note-care-gdfo4yyo'].bathtub.value }}
{% endif %}
</div>