<div class="productView-trust">
  <div class="service-item">
    <img class="icon"
      alt="30 days Special Lineal icon"
      loading="lazy"
      width="42"
      height="42"
      decoding="async"
      data-nimg="1"
      src="https://cdn-icons-png.freepik.com/512/11622/11622514.png?uid=R91986874&amp;ga=GA1.1.1875141753.1704953663&amp;"
      style="color: transparent;"
    >
    <div class="service-instruction">
      <span class="title">30-Day Price-Match</span>
      <span class="sub-title">Price-Match</span>
    </div>
  </div>
</div>
