.region-container .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Container for each region */
.region-container {
  width: 100%;
  margin-top: 12px;
  line-height: 1.2;
  box-sizing: border-box;
}

/* Each country container */
.country-container {
  width: 33.3%;
  box-sizing: border-box;
  float: left;
  height: 42px; /* Adjust the height as needed */
  display: flex;
  align-items: flex-start;
}

/* 产品页 Click And View Delivery Area */
.region-table .region-container {
  width: 100%;
  margin-top: 6px;
  line-height: 1.1;
  box-sizing: border-box;
}

.region-table .country-container {
  width: 33.3%;
  box-sizing: border-box;
  float: left;
  height: 28px; /* Adjust the height as needed */
  display: flex;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  /* Container for each region */
  .region-container {
    width: 80%;
    margin-top: 4px;
    line-height: 1.1;
    box-sizing: border-box;
  }

  /* Each country container */
  .country-container {
    width: 25%;
    box-sizing: border-box;
    float: left;
    height: 30px; /* Adjust the height as needed */
    display: flex;
    align-items: flex-start;
  }
}

.productView-DeliveryTime {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.productView-DeliveryTimeUpdate {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.productView-DeliveryTimeUpdate select.select__select,
.productView-DeliveryTimeUpdate input.field__input,
.productView-DeliveryTimeUpdate .button.button.button-1 {
  height: 36px;
  min-height:0;
}

.productView-DeliveryTimeUpdate select.select__select {
  min-width: 0;
  width: 94px;
}

.productView-DeliveryTimeUpdate input.field__input {
  max-width: 144px;
  margin-left: 10px;
}

.productView-DeliveryTimeUpdate .button.button.button-1 {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 10px;
  min-width: 0;
  font-weight:500;
  width: 94px;
}

.productView-DeliveryTime .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: var(--icon);
}

.productView-DeliveryTime .text {
  color: var(--text-cart);
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.productView-DeliveryTime .address_text {
  color: var(--color-link);
  text-decoration: underline;
  font-family: var(--font-body-family);
  text-underline-offset: 4px;
  cursor: pointer;
  font-size: var(--font-body-size);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.productView-DeliveryTime .address_text:hover {
  color: var(--color-link-hover);
}
