.custom-meta-div {
  display: flex;
  white-space: nowrap;
  align-items: left;
  flex-direction: column;
  margin-bottom: 48px;
  margin-top: 8px;
}
.custom-meta-div .text {
  font-size: 21px;
  font-weight: 600;
  text-transform: capitalize;
}
.custom-meta-block {
  width: 100%;
  display: flex;
  white-space: nowrap;
  margin-top: 12px;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d3d3d3;
}

.custom-meta-block .img {
  margin-top: 24px;
}

.key-text {
  color: var(--text-cart);
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  font-weight: 500;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.custom-meta-block .horizen-line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #d3d3d3;
}
