.productView-trust {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.productView-trust .service-item {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 8px;
  padding-right: 8px;
}
.productView-trust .icon {
  margin-right: 12px;
}

.productView-trust .title {
  color: var(--text-cart);
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.productView-trust .sub-title {
  color: var(--color-grey);
  font-family: var(--font-body-family);
  font-size: var(--font-body-size);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.productView-trust .service-instruction {
  display: flex;

  flex-direction: column;
  align-content: flex-start;
  width: calc(100% - 54px);
}
